@model IEnumerable<CustomerManagement.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料管理";
    var categorys = (SelectList)ViewBag.Categorys;
}

<h2>客戶資料管理</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="form-group">
    @Html.Label("客戶名稱")
    @Html.TextBox("customerName", null, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Label("客戶分類")
    @Html.DropDownList("category", categorys, "-請選擇-", htmlAttributes: new { @class = "form-control" })
</div>
<button id="ButtonSubmit" type="submit" class="btn btn-default">查詢</button>

<br />
<div id="CustomerInfoData"></div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            var page = window.location.hash
                ? window.location.hash.slice(1)
                : 1;

            fetchPage(page);

            $('#ButtonSubmit').click(function () {
                fetchPage(page);
            });
        });

        var fetchPage = function (page) {
            var pagedPartialUrl = '@Url.Action("PagedPartial", "CustomerInfo")';

            var customerName = $('#customerName').val();
            var category = $('#category').val();

            $.get(pagedPartialUrl, { page: page, customerName: customerName, category: category },
                function (data) {
                    window.location.hash = page;

                    $('#CustomerInfoData').html(data);

                    $('#CustomerInfoData .pagination li a').each(function (i, item) {
                        var hyperLinkUrl = $(item).attr('href');
                        if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                            var pageNumber = $(item).attr('href').replace('/CustomerInfo?page=', '');
                            $(item).attr('href', '#').click(function (event) {
                                event.preventDefault();
                                $(event.target).attr('href');
                                fetchPage(pageNumber);
                            });
                        }
                    });
                });
        };
    </script>
}